body {
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
}

header {
    background: darkslategrey;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

form {
    background: white;
    padding: 30px;
    max-width: 400px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid grey;
    border-radius: 5px;
}

button {
    background: darkslategrey;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: gray;
}

label {
    display: inline-block;
    margin-right: 15px;
}

.intro {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.role-selection {
    margin-top: 15px ;
}
.role-selection p {
    margin-bottom: 8px;
    font-weight: bold;
}


.role-selection label {
    display:inline-flex;
    align-items: center;
    margin-right: 15px;
    font-size: 16px;
}

.role-selection input[type="radio"] {
    margin-right: 8px;
    width:auto;
}

